<% @page_title = "Charters" %>
<% @page_description = "Welcome" %>


<div class="full-page">

	<div class="full-menu">
		<div class="top-diag">
			<div class="inner">
				<div class="text">
					<h1>Our Charters</h1>
					<h3>Cruise through our list of charter trips. If you don't see exactly what you want to do, contact us and we will work with you to build a charter that better suits your interests!</h3>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="inner list">

			<div class="charter-menu color1">
				<div class="co-icon">
					<%=image_tag('dolphin.png', class: 'icon') %>
				</div>

				<div class="text">
					<h4>Sightseeing</h4>
					<div class="title-line"></div>
					<div class="clearfix"></div>

	      	<p>There are plenty of interesting things to see while on the water, including dolphins, sea turtles, beautiful homes &amp; boats.</p>
					<a class="book-btn">Book Now</a>
				</div>
			</div>

			<div class="charter-menu color2">
				<div class="co-icon">
					<%=image_tag('cocktail.png', class: 'icon') %>
				</div>

				<div class="text">
					<h4>Booze Cruises</h4>
					<div class="title-line"></div>
					<div class="clearfix"></div>

					<p>BYOB! Spend the day relaxing on the water. There are also plenty of fun restaurants &amp; bars in the area to make a quick stop for a bushwacker!</p>
					<a class="book-btn">Book Now</a>
				</div>
			</div>

			<div class="charter-menu color3">
				<div class="co-icon">
					<%=image_tag('island.png', class: 'icon') %>
				</div>

				<div class="text">
					<h4>Island Hopping</h4>
					<div class="title-line"></div>
					<div class="clearfix"></div>

					<p>The area has plenty of islands in the back bays to pull up in the boat &amp; hangout. The water is shallow &amp; calm, perfect for kids to play!</p>
					<a class="book-btn">Book Now</a>
				</div>
			</div>

			<div class="charter-menu color4">
				<div class="co-icon">
					<%=image_tag('tropical.png', class: 'icon') %>
				</div>

				<div class="text">
					<h4>Sunset Cruises</h4>
					<div class="title-line"></div>
					<div class="clearfix"></div>

					<p>This is the best time of day to be on the water! You can’t beat watching the sunset from the boat!</p>
					<a class="book-btn">Book Now</a>
				</div>
			</div>

			<div class="charter-menu color5">
				<div class="co-icon">
					<%=image_tag('jets.png', class: 'icon') %>
				</div>

				<div class="text">
					<div class="reg">
						<h4>Blue Angel Practice*</h4>
						<div class="title-line"></div>
						<div class="clearfix"></div>

						<p>This is a full day, special charter to Pensacola pass to watch the famous U.S. Navy Blue Angels practice. It is a great way to see them perform their tricks without the crowds, &amp; while hanging out at the beach!</p>
					</div>
					<div class="extra">
						<p><span class="dets">*This charter is weather dependent, &amp; available only on days the Blue Angels practice:</span> <span class="info"> April, May, July, August, September – Tuesdays &amp; Wednesdays.</span></p>
					</div>
					<!-- <a class="book-btn">Book Now</a> -->
				</div>
			</div>
		</div>

		<!-- <div class="celebrate-block">
			<div class="text">
				<h4>Celebrating? </h4>
				<p>A PRIVATE boat charter is the perfect way to celebrate an anniversary, a graduation, a birthday, or anything else you might be celebrating!</p>
			</div>
		</div> -->
	</div>

	<div class="callout">
		<div class="inner">
			<div class="text-blk cel">
				<h4>Celebrating? </h4>
				<p>A PRIVATE boat charter is the perfect way to celebrate an anniversary, a graduation, a birthday, or anything else you might be celebrating!</p>
			</div>

			<div class="text-blk out">
				<h4>Out of town friends:</h4>
				<p>We understand that you are here to create wonderful memories with your family and friends. We want to show you the other side of Orange Beach, AL and how the locals enjoy the area by water. Let us help you have a perfect and FUN day on the water with no worries or stress!</p>
			</div>

			<div class="text-blk in">
				<h4>Locals:</h4>
				<p>We are here for you too! Have family or friends in town and want to show them a good time on the water but you do not have a boat? Or, maybe you do not want the stress of driving a boat and trying to entertain your family and friends? We can help! Give us a call today, and be sure to ask for a local’s discount!</p>
			</div>
		</div>
	</div>
</div>
