<% @page_title = "FAQs" %>
<% @page_description = "Welcome" %>

<!-- https://stock.adobe.com/search/images?serie_id=141013135 -->
<!-- <div class="hd-grad">
	<div class="inner">
		<div class="box box-text">
			<h1>FAQ's</h1>
		</div>
	</div>
</div> -->

<div class="full-page">
	<div class="top-diag">
		<div class="inner">
			<div class="text">
				<h1>FAQ's</h1>
			</div>
		</div>
	</div>

	<div class="intro">
		<div class="inner">
			<h3>These are the most common questions we get from our customers.  Feel free to contact us if you have a question that isn't answered below.</h3>
			<%= link_to("Contact Us", location_path, class: 'grad-link') %>
		</div>
	</div>

	<div class="faqs-full">
		<div class="inner">
				<ul class="faq-uk" uk-accordion="multiple: true">
			    <li>
			      <a class="uk-accordion-title" href="#">Do you offer fishing charters?</a>
			      <div class="uk-accordion-content">
							<p>We do not currently offer fishing charters.</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">What is the maximum number of people allowed on a charter?</a>
			      <div class="uk-accordion-content">
			        <p>Six passengers</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">Is there a bathroom on the boat?</a>
			      <div class="uk-accordion-content">
			        <p>Yes, we have a portable potty for emergencies.</p>
			      </div>
			    </li>

					<li>
			      <a class="uk-accordion-title" href="#">Is there a minimum number of hours to charter the boat?</a>
			      <div class="uk-accordion-content">
							<p>The minimum number of hours to charter the boat is 2 hours for $250.</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">Is there any shade on the boat/somewhere to get out of the sun?</a>
			      <div class="uk-accordion-content">
			        <p>The boat has a bimini top that can cover the back deck, offering plenty of shade. The boat also has a cuddy cabin to get out of the sun.</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">Is there somewhere to keep things dry?</a>
			      <div class="uk-accordion-content">
			        <p>The cuddy cabin has plenty of space to store and keep personal items dry.</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">Do I need to bring a cooler?</a>
			      <div class="uk-accordion-content">
							<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">Should I bring snacks and drinks?</a>
			      <div class="uk-accordion-content">
			        <p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
			      </div>
			    </li>

			    <li>
			      <a class="uk-accordion-title" href="#">Can I bring my own alcohol?</a>
			      <div class="uk-accordion-content">
			        <p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
			      </div>
			    </li>
				</ul>



		<!-- 	<div class="box one">
				<div class="text">
					<div id="tab-fish" class="faqs">
						<h4>Do you offer fishing charters?</h4>
						<p>We do not currently offer fishing charters.</p>
					</div>

					<div id="tab-people" class="faqs">
						<h4>What is the maximum number of people allowed on a charter?</h4>
						<p>Six passengers</p>
					</div>

					<div id="tab-bathroom" class="faqs">
						<h4>Is there a bathroom on the boat?</h4>
						<p>Yes, we have a portable potty for emergencies.</p>
					</div>
				</div>

				<div class="image-hlf"><%= image_tag('stock4.jpg', class: 'img-responsive', alt: '') %></div>
			</div>

			<div class="image-row"><%= image_tag('water-bw.jpg') %></div>

			<div class="box two">
				<div class="image-hlf"><%= image_tag('tt5.jpg') %></div>

				<div class="text">
					<div id="tab-hours" class="faqs">
						<h4>Is there a minimum number of hours to charter the boat?</h4>
						<p>The minimum number of hours to charter the boat is 2 hours for $250.</p>
					</div>

					<div id="tab-shade" class="faqs">
						<h4>Is there any shade on the boat/somewhere to get out of the sun?</h4>
						<p>The boat has a bimini top that can cover the back deck, offering plenty of shade. The boat also has a cuddy cabin to get out of the sun.</p>
					</div>

					<div id="tab-dry" class="faqs">
						<h4>Is there somewhere to keep things dry?</h4>
						<p>The cuddy cabin has plenty of space to store and keep personal items dry.</p>
					</div>
				</div>
			</div>

			<div class="image-row two"><%= image_tag('paper1.jpg') %></div>

			<div class="box three">
				<div class="text">
					<div id="tab-cooler" class="faqs">
						<h4>Do I need to bring a cooler?</h4>
						<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
					</div>

					<div id="tab-food" class="faqs">
						<h4>Should I bring snacks and drinks?</h4>
						<p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
					</div>

					<div id="tab-alcohol" class="faqs">
						<h4>Can I bring my own alcohol?</h4>
						<p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
					</div>
				</div>

				<div class="image-hlf"><%= image_tag('stock5.jpg', class: 'img-responsive', alt: '') %></div>
			</div>
			<div class="image-row no-img"></div> -->
		</div>
	</div>
</div>
