<% @page_title = "FAQs" %>
<% @page_description = "Welcome" %>


<div class="full-page">
	<div class="top-diag">
		<div class="inner">
			<div class="text">
				<h1>Charter FAQ's</h1>
			</div>
		</div>
	</div>

	<div class="intro">
		<div class="inner">
			<div class="one">
				<!-- <h2>These are the most common questions we get from our charter customers. </h2> -->
				<h2>Do you have a question about our adventures?</h2>
			</div>

			<div class="two">
				<h3>These are the most common questions we get from our charter customers. Feel free to contact us if you have a question that isn't answered below. We are always happy to help!</p>
				<%= link_to("Contact Us", location_path, class: 'grad-link') %>
			</div>
			<!-- <div class="text">
				<h3>These are the most common questions we get from our customers. Feel free to contact us if you have a question that isn't answered below. We are happy to help!</h3>
				<%= link_to("Contact Us", location_path, class: 'grad-link') %>
			</div>

			<div class="image-hlf">
				<div class="r1">
					<%= image_tag('stock4.jpg', class: 'img-responsive tgi', alt: '') %>
					<%= image_tag('gac-1.jpg', class: 'img-responsive tgi', alt: '') %>
				</div>

				<div class="r2">
					<%= image_tag('stock9.jpg', class: 'img-responsive tgi', alt: '') %>
				</div>
			</div> -->
		</div>
	</div>


	<div class="faqs-full">
		<div class="box one">
			<div class="inner">

				<div class="text">
					<ul class="faq-uk2" uk-accordion>
				    <li>
				      <a class="uk-accordion-title" href="#">Do you offer fishing charters?</a>
				      <div class="uk-accordion-content">
								<p>We do not currently offer fishing charters.</p>
				      </div>
				    </li>

				    <li>
				      <a class="uk-accordion-title long" href="#">What is the maximum number of people allowed per trip?</a>
				      <div class="uk-accordion-content">
				        <p>Six passengers</p>
				      </div>
				    </li>

				    <li>
				      <a class="uk-accordion-title" href="#">Is there a bathroom on the boat?</a>
				      <div class="uk-accordion-content">
				        <p>Yes, we have a portable potty for emergencies.</p>
				      </div>
				    </li>
				  </ul>
				</div>

				<div class="image-hlf"><%= image_tag('gac-11.jpg', class: 'img-responsive', alt: '') %></div>
			</div>
		</div>

		<div class="box two">
			<div class="inner">
				<div class="image-hlf"><%= image_tag('gac-1.jpg') %></div>

				<div class="text">
					<ul class="faq-uk2" uk-accordion>
						<li>
				      <a class="uk-accordion-title long" href="#">Is there a minimum number of hours to charter the boat?</a>
				      <div class="uk-accordion-content">
								<p>The minimum number of hours to charter the boat is 2 hours for $250.</p>
				      </div>
				    </li>

						<li>
						  <a class="uk-accordion-title long" href="#">Is there any shade on the boat/a place to get out of the sun?</a>
						  <div class="uk-accordion-content">
						    <p>The boat has a bimini top that can cover the back deck, offering plenty of shade. The boat also has a cuddy cabin to get out of the sun.</p>
						  </div>
						</li>

				    <li>
				      <a class="uk-accordion-title" href="#">Is there somewhere to keep things dry?</a>
				      <div class="uk-accordion-content">
				        <p>The cuddy cabin has plenty of space to store and keep personal items dry.</p>
				      </div>
				    </li>

				    <!-- <li>
				      <a class="uk-accordion-title" href="#">Do I need to bring a cooler?</a>
				      <div class="uk-accordion-content">
								<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
				      </div>
				    </li>

				    <li>
				      <a class="uk-accordion-title" href="#">Should I bring snacks and drinks?</a>
				      <div class="uk-accordion-content">
				        <p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
				      </div>
				    </li>

				    <li>
				      <a class="uk-accordion-title" href="#">Can I bring my own alcohol?</a>
				      <div class="uk-accordion-content">
				        <p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
				      </div>
				    </li> -->
					</ul>
				</div>
			</div>
		</div>

		<div class="box three">
			<div class="inner">
				<div class="text">
					<ul class="faq-uk2" uk-accordion>
						<li>
				      <a class="uk-accordion-title" href="#">Do I need to bring a cooler?</a>
				      <div class="uk-accordion-content">
								<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
				      </div>
				    </li>

				    <li>
				      <a class="uk-accordion-title" href="#">Should I bring snacks and drinks?</a>
				      <div class="uk-accordion-content">
				        <p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
				      </div>
				    </li>

				    <li>
				      <a class="uk-accordion-title" href="#">Can I bring my own alcohol?</a>
				      <div class="uk-accordion-content">
				        <p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
				      </div>
				    </li>
				  </ul>
				</div>

				<div class="image-hlf"><%= image_tag('gac-9.jpg', class: 'img-responsive', alt: '') %></div>
			</div>
		</div>
	</div>

</div>
