<% @page_title = "Welcome" %>
<% @page_description = "Welcome" %>
<!-- https://creativemarket.com/appler/909277-WATERCOLOR-BACKGROUNDS -->
<!-- https://creativemarket.com/appler/909277-WATERCOLOR-BACKGROUNDS/screenshots/#screenshot5 -->


<div class="full-page">
	<div uk-parallax="bgy: -200" class="site-intro">
		<div class="inner">
			<!-- <h1><span>Welcome to</span><br> Gulf Adventure <b>Charters!</b></h1> -->
			<h1>Call us today to book your next boating adventure!</h1>
			<div class="phone-link"><%= phone %></div>

			<%= link_to "/book", :target => "_blank", class: "book-btn grad-link" do %>
				Book Online Now
			<% end %>
		</div>
	</div>

	<div class="sec1">
			<h1><span>Welcome to</span><br> Gulf Adventure <b>Charters!</b></h1>
		<div class="inner">
			<div class="text">
				<h3>Located at the Flora-Bama Marina on the AL/FL line, we are in the heart of Orange Beach, AL and only minutes away from Gulf Shores, AL and Perdido Key, FL. </h3>
				<%= link_to "Our Location", "/location", class:"grad-link" %>
			</div>
		</div>
	</div>

	<div class="sec2">
		<div class="inner">
			<div class="left"><%= image_tag('stock3.jpg', alt: '', class:'img-responsive')%></div>

			<div class="text-box">
				<h4>Are you ready for an adventure?</h4>
				<p>We offer PRIVATE boat charters to explore the beautiful waterways, islands, and wildlife in Orange Beach, Alabama.
				Choose from our list of charters, or build your own. Whatever suits your interests! </p>

				<p>Relax and enjoy all the area has to offer by water with your closest friends and family, while our USCG approved captain drives you around.</p>
				<!-- og text <p>Enjoy all the area has to offer by water with your closest friends and family, while relaxing and being driven by a USCG approved captain.</p> -->
				<%= link_to "Our Charters", "/charters", class:"grad-link" %>
			</div>
		</div>
	</div>

	<div class="sec3">
		<div class="inner">
			<div class="image"><%= image_tag('tt4.jpg', alt: '', class:'img-sec3')%></div>

			<div class="content-hlf">
				<div class="text">
					<h3>Toy Time</h3>
					<p>From island hopping and sightseeing, to a quiet, sunset cruise, this 25ft Grady White is great way to entertain all ages!</p>
				</div>
				<div class="clearfix"></div>

				<div class="link-row">
					<%= link_to "/toy-time", class:"lr-link one" do %>
						<p>Toy Time Details</p>
					<% end %>

					<%= link_to "/FAQ", class:"lr-link two" do %>
						<p>Charter FAQ's</p>
					<% end %>
				</div>

			</div>
		</div>
	</div>

	<div class="sec4">
		<div class="text-box">
			<h4>Celebrating? </h4>
			<p>A PRIVATE boat charter is the perfect way to celebrate an anniversary, a graduation, a birthday, or anything else you might be celebrating!</p>
		</div>
	</div>

</div>
