<% @page_title = "Welcome" %>
<% @page_description = "Gulf Adventure Charters is located at Flora-Bama Marina, in Orange Beach, Al. We off private boat charters to explore the beautiful waterways, islands, and wildlife in the area." %>


<div class="full-page">
	<div uk-parallax="bgy: -100" class="site-intro">
		<div class="inner">
			<h2>Call us today to book your next boating adventure!</h2>
			<div class="phone-link"><%= number_to_phone(2514243430, delimiter: '.') %></div>

		<!-- 	<%= link_to "/book", :target => "_blank", class: "book-btn grad-link" do %>
				Book Now
			<% end %> -->
		</div>
	</div>

	<div class="sec1">
		<h1><span>Welcome to</span><br> Gulf Adventure <b>Charters!</b></h1>
		<div class="inner">
			<div class="text">
				<h3>Located at the Flora-Bama Marina on the AL/FL line, we are in the heart of Orange Beach, AL and only minutes away from Gulf Shores, AL and Perdido Key, FL. </h3>
				<%= link_to "Our Location", "/location", class: "grad-link" %>
			</div>
		</div>
	</div>

	<div class="sec2">
		<div class="inner">
			<div class="text-box">
				<h4>Are you ready for an <span>adventure?</span></h4>
				<p>We offer PRIVATE boat charters to explore the beautiful waterways, islands, and wildlife in Orange Beach, Alabama.
				Choose from our list of charters or build your own. Whatever suits your interests! </p>

				<%= link_to "Our Charters", "/charters", class: "grad-link" %>
				<%= link_to "See the Boat", "/toy-time", class: "grad-link dos" %>
			</div>
			<div class="image"><%= image_tag('dolphins.png', alt: 'Gulf Adventure Charters - dolphins and wildlife', class: 'img-responsive')%></div>
		</div>
	</div>

	<div class="sec3">
		<div class="inner">
			<div class="image"><%= image_tag('family.jpg', alt: 'Gulf Adventure Charters - family charter trips', class: 'img-sec3')%></div>
			<div class="image-mobile"><%= image_tag('family-mob.jpg', alt: 'Gulf Adventure Charters - family charter trips', class: 'img-sec3')%></div>

			<div class="content-hlf">
				<div class="text">
					<h4>Locals &amp; Out of Town Friends</h4>
					<h3>We've Got You Covered</h3>
					<p>Relax and enjoy all the area has to offer by water with your closest friends and family, while our USCG approved captain drives you around.</p>
					<p> From island hopping and sightseeing to a quiet, sunset cruise, a Gulf Adventure Charter is a great way to entertain all ages!</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="sec4">
		<div class="text-box">
			<h4>Celebrating? </h4>
			<p>A PRIVATE boat charter is the perfect way to celebrate an anniversary, a graduation, a birthday, or anything else you might be celebrating!</p>
		</div>
	</div>

</div>
