<% @page_title = "Our Location" %>
<% @page_description = "Gulf Adventure Charters is located at Zeke's Marina, in Orange Beach, Al. Book one of our charters for an adventure on the gulf!" %>

<div class="full-page">
	<div class="top-diag">
		<div class="inner">
			<div class="text">
				<h1>Contact Us</h1>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="intro">
		<div class="inner">
			<div class="text-hlf">
				<h3><span>Open 7 days a week!</span></h3>
				<p>We are located at Zeke's Marina.
					Whether you are staying in Gulf Shores, Orange Beach, or Perdido Key, we are only minutes away!
					<!-- Please contact us if you have any questions about our boat charters. We are happy to help! -->
				</p>
				<h3>We hope to see you soon!</h3>
			</div>
		</div>
	</div>

	<div class="contact-info">
		<div class="inside">
			<div class="image-hlf">
				<%=image_tag('gac-1.jpg', class: 'img-responsive fw', alt: 'Gulf Adventure Charters - view from the boat') %>
				<%=image_tag('gac-1mob.jpg', class: 'img-responsive mobile', alt: 'Gulf Adventure Charters - view from the boat') %>
			</div>

			<div class="text-hlf">
		    <div class="text">
		    	<div class="blk">
						<h2><span>Gulf</span> Adventure Charters</h2>
							<hr class="fancy">
				    	<p class="address"><span>Zeke's Marina:</span><br>
			    		26619 Perdido Beach Blvd<br>
							Orange Beach, AL 36561<br> Slip: <b>E12</b></p>

							<p><span>Phone: </span><br><%= number_to_phone(2514243430, delimiter: '.') %> </p>

							<p><span>Email: </span><br> info@boatgulfadventurecharters.com</p>

							<div class="social">
								<%= link_to"/fb", :target => "_blank" do %>
									<i class="uk-icon" uk-icon="facebook"></i>
								<% end %>

								<%= link_to "/insta", :target => "_blank" do %>
									<i class="uk-icon" uk-icon="instagram"></i>
								<% end %>
							</div>
							<!-- <%= link_to "Book Now", "", class: 'grad-link', target: '_blank' %>  -->
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<div id="payments" class="payment-info">
		<div class="inner">

	  	<div class="pay1">
				<h3>Forms of Payment:</h3>
				<hr class="fancy center">
				<p> Cash or Credit Card. A 15-20% tip is greatly appreciated by the captain and crew.</p>
			<!-- </div> -->

			<!-- <div class="pay2"> -->
				<h3>Cancellation Policy:</h3>
				<hr class="fancy center">
				<!-- <p> All reservations canceled within 48 hours of their scheduled charter will be charged in full.</p> -->
				<p>Customers will receive a full refund or credit with 48 hours notice of cancellation. Customers will also receive a full refund or credit in case of operator cancellation due to weather or other unforeseen circumstances. No-shows will be charged in full.</p>
			</div>

			<div class="final">
				<%=image_tag('icon-anchor.png', class: 'icon', alt: 'Gulf Adventure Charters - anchor icon') %>
				<p>Please contact us if you have any questions about our boat charters. We are happy to help!</p>
			</div>
	  </div>
	</div>
</div>
