<% @page_title = "Page" %>
<% @page_description = "Welcome" %>



<!-- https://creativemarket.com/appler/909277-WATERCOLOR-BACKGROUNDS -->
<!-- https://creativemarket.com/appler/909277-WATERCOLOR-BACKGROUNDS/screenshots/#screenshot5 -->


<div class="full-page">
	<div uk-parallax="bgy: -200" class="site-intro">
		<div class="inner">
			<!-- <h1><span>Welcome to</span><br> Gulf Adventure <b>Charters!</b></h1> -->
			<h1>Call us today to book your next boating adventure!</h1>
			<div class="phone-link"><%= phone %></div>

			<%= link_to "/book", :target => "_blank", class: "book-btn grad-link" do %>
				Book Online Now
			<% end %>
		</div>
	</div>

	<div class="sec1">
		<h1><span>Welcome to</span><br> Gulf Adventure <b>Charters!</b></h1>
		<div class="inner">
			<div class="text">
				<h3>Located at the Flora-Bama Marina on the AL/FL line, we are in the heart of Orange Beach, AL and only minutes away from Gulf Shores, AL and Perdido Key, FL. </h3>
				<%= link_to "Our Location", "/location", class:"grad-link" %>
			</div>
		</div>
	</div>

	<div class="sec2">
		<div class="inner">
			<div class="text-box">
				<h4>Are you ready for an adventure?</h4>
				<p>We offer PRIVATE boat charters to explore the beautiful waterways, islands, and wildlife in Orange Beach, Alabama.
				Choose from our list of charters, or build your own. Whatever suits your interests! </p>

				<%= link_to "Our Charters", "/charters", class: "grad-link" %>
			</div>
			<div class="image"><%= image_tag('dolphins.png', alt: '', class: 'img-responsive')%></div>
		</div>
	</div>

	<div class="sec3">
		<div class="inner">
			<div class="image"><%= image_tag('stock1.jpg', alt: '', class: 'img-sec3')%></div>

			<div class="content-hlf">
				<div class="text">
					<!-- <h3>Toy Time</h3> -->
					<h3>We've Got You Covered</h3>
					<p>Relax and enjoy all the area has to offer by water with your closest friends and family, while our USCG approved captain drives you around.</p>
					<p> From island hopping and sightseeing, to a quiet, sunset cruise, a Gulf Adventure Charter is a great way to entertain all ages!</p>
					<!-- <%= image_tag('stock-splash.png', alt: '', class: 'img-responsive ch-img')%> -->
				</div>
				<div class="clearfix"></div>

				<!-- <div class="link-row">
					<%= link_to "/toy-time", class:"lr-link boat" do %>
					<h4>The Charter Boat</h4>
						<p>Toy Time</p>
					<% end %>

					<%= link_to "/FAQ", class:"lr-link two" do %>
						<p>Charter FAQ's</p>
					<% end %>
				</div> -->

			</div>
		</div>
	</div>

	<div class="sec4">
		<div class="text-box">
			<h4>Celebrating? </h4>
			<p>A PRIVATE boat charter is the perfect way to celebrate an anniversary, a graduation, a birthday, or anything else you might be celebrating!</p>
		</div>
	</div>

</div>





















<!--<div class="full-page">
	<div class="inside">

			<div class="hd-over">
				<div class="in-over">
					<div class="inside">
						<h1>Test Page</h1>
					</div>
				</div>
			</div>

			<div class="diag-sec">

				<div id="tab-fish" class="faqs one">
					<div class="content">
						<h4>Do you offer fishing charters?</h4>
						<p>We do not currently offer fishing charters.</p>
					</div>
				</div>

				<div id="tab-people" class="faqs two">
					<div class="content">
						<h4>What is the maximum number of people allowed on a charter?</h4>
						<p>Six passengers</p>
					</div>
				</div>

				<div id="tab-bathroom" class="faqs three">
					<div class="content">
						<h4>Is there a bathroom on the boat?</h4>
						<p>Yes, we have a portable potty for emergencies.</p>
					</div>
				</div>

				<div id="tab-hours" class="faqs four">
					<div class="content">
						<h4>Is there a minimum number of hours to charter the boat?</h4>
						<p>The minimum number of hours to charter the boat is 2 hours for $250.</p>
					</div>
				</div>

				<div id="tab-shade" class="faqs five">
					<div class="content">
						<h4>Is there any shade on the boat/somewhere to get out of the sun?</h4>
						<p>The boat has a bimini top that can cover the back deck, offering plenty of shade. The boat also has a cuddy cabin to get out of the sun.</p>
					</div>
				</div>

				<div id="tab-dry" class="faqs six">
					<div class="content">
						<h4>Is there somewhere to keep things dry?</h4>
						<p>The cuddy cabin has plenty of space to store and keep personal items dry.</p>
					</div>
				</div>

				<div id="tab-cooler" class="faqs svn">
					<div class="content">
						<h4>Do I need to bring a cooler?</h4>
						<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
					</div>
				</div>

				<div id="tab-food" class="faqs eight">
					<div class="content">
						<h4>Should I bring snacks and drinks?</h4>
						<p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
					</div>
				</div>

				<div id="tab-alcohol" class="faqs last">
					<div class="content">
						<h4>Can I bring my own alcohol?</h4>
						<p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
					</div>
				</div>
			</div>
	</div>
</div> -->
