<% @page_title = "Toy Time Charter Boat" %>
<% @page_description = "Welcome" %>

<div class="full-page">
	<div class="top-diag">
		<div class="inner">
			<div class="text">
				<h1>Toy Time</h1>
				<h2>The Charter Boat</h2>
			</div>
		</div>
	</div>

	<div class="full-toy">
		<div class="inner">
			<div class="toy-grid">
				<div class="content-grid">
					<div class="full">
						<!-- <div class="tg-img2"><%= image_tag('gac-5.jpg', class: 'img-responsive', alt: 'Gulf Adventure Charters, Toy Time Image') %></div> -->
						<div class="tg-img2">
							<div class="r1">
								<%= image_tag('gac-5.jpg', class: 'img-responsive tgi', alt: 'Gulf Adventure Charters, Toy Time Image') %>
								<%= image_tag('gac-9.jpg', class: 'img-responsive tgi', alt: 'Gulf Adventure Charters, Toy Time Image') %>
							</div>

							<div class="r2">
								<%= image_tag('gac-6.jpg', class: 'img-responsive tgi', alt: 'Gulf Adventure Charters, Toy Time Image') %>
							</div>
						</div>

						<div class="txt-row">
							<!-- <%= image_tag('icon-wheel.png', class: 'icon', alt: 'Gulf Adventure Charters, Toy Time Image') %> -->
							<h3>Call us today to book your next boating adventure!</h3>
							<p class="hd-text">From island hopping and sightseeing, to a quiet, sunset cruise, Toy Time is a great way to entertain all ages! </p>
						</div>
					</div>

					<div class="full btm">
						<div class="inside">
							<div class="tg-li2 uno">
								<%= image_tag('icon-boat.png', class: 'icon', alt: 'Gulf Adventure Charters, Toy Time Image') %>
								<h4>25ft Cuddy Cabin <br>Grady White</h4>
								<!-- <hr class="fancy center"> -->
								<p>Bow seating<br> Large back deck with seating</p>
							</div>

							<div class="tg-li2">
								<%= image_tag('icon-buoy.png', class: 'icon', alt: 'Gulf Adventure Charters, Toy Time Image') %>
								<h4>Awesome sound system</h4>
								<p> Play your own music!</p>
							</div>

							<div class="tg-li2">
								<%= image_tag('icon-wheel.png', class: 'icon', alt: 'Gulf Adventure Charters, Toy Time Image') %>
								<h4>Bimini top option</h4>
								<p> For shade on the back deck.</p>
							</div>

							<div class="tg-li2">
								<%= image_tag('icon-anchor.png', class: 'icon', alt: 'Gulf Adventure Charters, Toy Time Image') %>
								<h4>Cabin</h4>
								<p>To keep things shaded and dry.</p>
							</div>

							<div class="tg-li2">
								<%= image_tag('icon-compass.png', class: 'icon', alt: 'Gulf Adventure Charters, Toy Time Image') %>
								<h4>Bathroom</h4>
								<p>Portable potty for emergencies.</p>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>

</div>
