<div class="clearfix"></div>
<footer class="site-footer">
	<div class="inner">
		<div class="foot-block menu">
			<ul class="ft-nav">
        <%= render 'layouts/nav' %>
			</ul>
		</div>

		<div class="foot-block bkbtn">
			<br><br>
			<!-- <%= link_to "Book Now", "", class: 'grad-link', target: '_blank' %>  -->
		</div>

		<div class="foot-block info">
			<div class="one">
				<p class="phone-ft"><%= phone %></p>
				<div class="social">
					<%= link_to"/fb", :target => "_blank" do %>
						<i class="uk-icon" uk-icon="facebook"></i>
					<% end %>

					<%= link_to "/insta", :target => "_blank" do %>
						<i class="uk-icon" uk-icon="instagram"></i>
					<% end %>
				</div>
			</div>

			<div class="two">
				<p class="email-ft"><%= email %></p>
			</div>
		</div>
	</div>
</footer>
