<footer class="site-footer">
	<div class="inner">
		<div class="foot-block">
			<ul class="ft-nav">
        <%= render 'layouts/nav' %>
			</ul>
		</div>

		<div class="foot-block">
			<br><br>
			<%= link_to "Book Now", "", class: 'grad-link', target: '_blank' %>
		</div>

		<div class="foot-block">
			<p class="phone-ft"><%= phone %></p>
			<p class="email-ft"><%= email %></p>

			<div class="social">
				<%= link_to"/fb", :target => "_blank" do %>
					<i class="uk-icon" uk-icon="facebook"></i>
				<% end %>

				<%= link_to "/insta", :target => "_blank" do %>
					<i class="uk-icon" uk-icon="instagram"></i>
				<% end %>
			</div>
		</div>
			<!-- <div class="uk-offcanvas-content">
			  <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary">Primary Nav</button>

			  <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
			      <div class="uk-offcanvas-bar uk-flex uk-flex-column">

			          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
			              <li class="uk-active"><a href="#">Active</a></li>
			              <li class="uk-parent">
			                  <a href="#">Parent</a>
			                  <ul class="uk-nav-sub">
			                      <li><a href="#">Sub item</a></li>
			                      <li><a href="#">Sub item</a></li>
			                  </ul>
			              </li>
			              <li class="uk-nav-header">Header</li>
			              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
			              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
			              <li class="uk-nav-divider"></li>
			              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
			          </ul>

			      </div>
			  </div>
			</div> -->
	</div>
</footer>
