<header class="site-header">
  <!-- <div class="upper">
    <div class="inner">
      <div class="hd-social">
        <i class="uk-icon" uk-icon="mail"></i>
        <%= link_to"/fb", :target => "_blank" do %>
                  <i class="uk-icon" uk-icon="facebook"></i>
                <% end %>

                <%= link_to "/insta", :target => "_blank" do %>
                  <i class="uk-icon" uk-icon="instagram"></i>
                <% end %>
      </div>
      <p class="phone-hd"><%= phone %></p>
    </div>
  </div> -->

  <!-- <div class="upper-hd"> -->
   <!--  <div class="inner">
      <%= link_to "/", class: "logo-link" do %>
        <%= image_tag("gac-logo.png", class: "img-responsive logo-img") %>
      <% end %> -->
    <!-- </div> -->
  <!-- </div> -->

  <nav>
  <!-- <nav uk-sticky> -->
    <div class="inner">
      <ul class="sitenav">
        <%= render 'layouts/nav' %>
      </ul>
    </div>
  </nav>

</header>
