<header>
  <!-- <div class="upper">
    <div class="inner">
      <div class="hd-social">
        <i class="uk-icon" uk-icon="mail"></i>
        <i class="uk-icon" uk-icon="facebook"></i>
        <i class="uk-icon" uk-icon="instagram"></i>
      </div>
      <p class="phone-hd"><%= phone %></p>
    </div>
  </div> -->

  <nav>
    <!-- uk-sticky> -->
    <div class="inner">
      <ul class="sitenav">
        <%= render 'layouts/nav' %>
      </ul>
    </div>
  </nav>
</header>




<!-- <header class="style2">
  <div class="upper-bar">
    <nav>
      <ul class="sitenav">
        <li class="navli nav1"><%= link_to "Location", "/location", class: 'navlink' %></li>
        <li class="navli nav2"><%= link_to "Charters", "/charters", class: 'navlink' %></li>
        <li class="navli nav3"><%= link_to "Toy Time", "/toy-time", class: 'navlink' %></li>
        <li class="navli nav4"><%= link_to "FAQ's", "/faq", class: 'navlink' %></li>
      </ul>
    </nav>

    <ul class="social">
      <li class="ss-link"><%= link_to "√", "/faq", class: 'soc' %></li>
      <li class="ss-link"><%= link_to "ß", "/faq", class: 'soc' %></li>
      <li class="ss-link"><%= link_to "∑", "/faq", class: 'soc' %></li>
    </ul>
  </div>


  <div class="lower-header">
    <div class="inside">
      <div class="logo-nav">
        <%= link_to "/", class: "logo-link" do %>
          <%= image_tag("gac-logo.png") %>
        <% end %>
      </div>
    </div>
  </div>
</header>
 -->
