<header class="site-header">
  <div class="upper">
    <div class="inner">
      <div class="hd-social">
        <i class="uk-icon" uk-icon="mail"></i>
        <%= link_to"/fb", :target => "_blank" do %>
          <i class="uk-icon" uk-icon="facebook"></i>
        <% end %>

        <%= link_to "/insta", :target => "_blank" do %>
          <i class="uk-icon" uk-icon="instagram"></i>
        <% end %>
      </div>
      <!-- <p class="phone-hd"><%= phone %></p> -->
    </div>
  </div>

  <nav>
  <!-- <nav uk-sticky> -->
    <div class="inner">
      <!-- <div class="inline-nli"><%= link_to "Book Now", "/book" %></div> -->
     <!--  <ul class="sitenav"> -->
        <%= render 'layouts/nav' %>
      <!-- </ul> -->
      <!-- <div class="inline-nli phone-nli"><%= phone %></div> -->
    </div>
  </nav>

</header>
