<li class="navli nav1"><%= link_to "Location", "/location", class: 'navlink' %></li>
<li class="navli nav2"><%= link_to "Charters", "/charters", class: 'navlink' %></li>
<li class="logo-nav">
  <%= link_to "/", class: "logo-link" do %>
    <%= image_tag("gac-logo.png", class: "img-responsive logo-img") %>
  <% end %>
</li>
<li class="navli nav3"><%= link_to "Toy Time", "/toy-time", class: 'navlink' %></li>
<li class="navli nav4"><%= link_to "FAQ's", "/faq", class: 'navlink' %></li>
